  <div *ngIf="movie">
    <div class="card col-md-4 mt-4">
      <h1 class="movie-title">{{movie.Title | uppercase}}</h1>
    <div class="d-flex flex-row mb-3">
      <img [src]="movie.Poster" alt="{{ movie.Title }} Poster" class="card-img-top">
      <div class="card-body">
        <p class="card-text"><b>Movie id:</b> {{movie.imdbID}}</p>
        <p class="card-text"><b>Year:</b> {{ movie.Year }}</p>
        <p class="card-text"><b>Genre:</b> {{ movie.Genre }}</p>
        <p class="card-text"><b>Plot:</b> {{ movie.Plot }}</p>
      </div>
    </div>
      <button type="button" class="btn btn-danger" (click)="goBack()">Voltar</button>
    </div>
  </div>
